:root{ 
    --primary-color:rgb(70, 155, 180);
    --secondary-color:#c8d8f1; 
    --box-shadow:0 5px 10px rgba(0,0,0,0.3); 
}

h1, h2, h3{
    margin: 0;
   
  
}
h1{
    font-size: 90px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 24px;
    opacity: 0.7;
}
h4{
    text-transform: capitalize;
    font-size: 28px;
    color: var(--primary-color);
    margin: 0 auto;
  
}
p{
    text-align:start;
    font-size: 18px;
    line-height: 1.5;
    margin:20px 0 10px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
body{
    margin-top: 100px;
   
}

.home-link{
    display: flex;
    justify-content:flex-end;
    color:var(--secondary-color);
}
.home-link hoover{
    cursor: pointer;
}
.about-link{
    display: flex;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}
.contact-link{
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: beige;
    font-size: 18px;
    font-weight: bold;
}
.navigation-links{
    display: flex;
    justify-content:center;
    margin-top: 40px;

}
.navigation-links a {
  margin: 30px;
  border-radius: 10px;
  padding: 25px 20px;
  text-decoration: none;
}
.email-link{
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 30px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.primary-link{
    border-radius:4px;
    padding:20px 15px;
    text-decoration: none;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color:white;
}
.mypicture{
    width: 30px;
    margin: 0 auto;
}
.logo{
    width: 80px;
}